body {
  min-height: 100vh;
  background-color: hsl(275, 100%, 97%);
  font-family: "Work Sans", serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  left: 0;
  top: -100px;
  width: 100%;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  padding: 40px;
  overflow: hidden;
  max-width: 90%;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title img {
  width: 35px;
}

.title h1 {
  color: hsl(292, 42%, 14%);
  font-size: 45px;
}

.faq:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  overflow: hidden;
}

.faq:last-of-type {
  padding-top: 20px;
}

.faq div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  cursor: pointer;
}

.faq .question {
  color: hsl(292, 42%, 14%);
  font-weight: 600;
  font-size: 18px;
}

.faq div:hover .question {
  color: rgb(173 40 235);
}

.faq .minus {
  display: none;
}

.faq .answer {
  height: 0;
  opacity: 0;
  transition: 0.3s;
  width: 470px;
  color: hsl(292, 16%, 49%);
  margin-top: 10px;
  line-height: 1.5;
}
